@media (min-width: 768px) and (max-width: 1000px) {
	.wrapper {
		width:720px;
	}
	
	#home-banner {
		height:auto;
		padding-bottom:60px;
	}
	
	#home-banner h1 {
		font-size:40px;
		line-height:48px;
	}
	
	#logos .logos img {
		margin:0 16px;
	}
	
	.features-list {
		width: 320px;
		margin: 0 20px;
	}
	
	#reviews li {
		margin:0 15px
	}
	
	#services h3 {
		margin:0 100px 30px;
	}
	
	#services li {
		width: 256px;
		margin: 0 -8px;
	}
	
	
	
	#about .left {
		margin-left: 0;
    	width: 454px;
	}
	
	#about .right {
		width:240px	
	}
	
	#about h4.quote {
	    font-size: 20px;
	    line-height: 28px;
	}
	#team .tabs-nav {
		margin-left:0;
		width:150px;
	}
	
	#team .tabs-content {
	    width: 548px;
	}
	
	#how-works h2.subtitle{
		margin:30px 0;
	}
	
	#how-works .tabs .wrapper,
	#how-works .tabs .faq .wrapper {
		width:720px;
	}
	
	#contact h1  {
		margin-bottom:30px;
	}
	
	.contact-form {
		margin-left:0;
		width:440px
	}
	
	#contact .address {
	    width: 233px;
	} 

}

@media (max-width: 767px) {
	p {
		line-height:18px;
		margin-bottom:18px;
	}
	
	.section {
		padding:20px 0;
	}
	
	.btn {
		display:block;
	}
	
	#header {
		padding:12px 0;
	}
	
	#logo {
		float:none;
		margin:0 auto;
	}
	
	.wrapper,
	#home-banner .wrapper {
		width:auto;
		padding:0 15px;
	}
	
	#main-nav {
		position:relative;
		margin-top:-38px
	}

	#main-nav .toggle-nav {
		display:block;
		width:30px;
		height:30px;
		margin:0 0 0 auto;
		cursor:pointer;
	}
	
	#main-nav .toggle-nav em {
		display:block;
		height:4px;
		background:#FFD200;
		margin:4px 0;
	}
	
	#main-nav ul {
		position:absolute;
		top:50px;
		right:-15px;
		background:#FFF;
		overflow:hidden;
		max-height:0;
		transition: all ease .3s;
		-moz-transition: all ease .3s;
		-webkit-transition: all ease .3s; 
	}
	
	#main-nav.opened ul {
		max-height:200px;
		padding:10px 0;
	}
	
	#main-nav ul li {
		float:none;
		margin:0;
		text-align:right;
	}
	
	#main-nav ul li.separator {
		display:none;
	}
	
	#main-nav ul li a {
		line-height:32px;
		padding:0 15px;
		font-size:16px;
	}
	
	#main-nav ul li a.login {
		line-height:32px;
		border:none;
		padding:0 15px;
	}
	
	#home-banner h1 {
		font-size:30px;
		line-height:36px;
		margin:0 0 20px;
	}
	
	#home-banner {
		height:auto;
		padding-bottom:60px;
	}
	
	#home-banner p {
		font-size:15px;
		line-height:23px;
		margin-bottom:23px;
	}
	
	#home-banner .btn {
		margin:0 0 15px;
		width:auto;
	}
	
	#logos .logos img {
		margin:8px  20px;
	}
	
	.features-list {
		width:auto;
		float:none;
		margin:0 0 30px;
		text-align:center;
	}
	
	.features-list li p br {
		display:none;
	}
	
	#reviews li {
		float:none;
		width:auto;
		margin-bottom:30px;
	}
	
	#services h3 {
		margin:0 0 20px;
	}
	
	#services li {
		width:auto;
		float:none;
		margin:0 0 30px;
	}
	
	#services li h2 {
		margin-bottom:15px;
	}
	
	#start {
		padding:60px 0 80px;
	}
	
	#start h3 {
		font-size:30px;
		margin-bottom:30px;
	}
	
	#start .btn {
		width:auto;
		margin:0 15px 10px;
	}
	
	#footer .left {
		float:none;
		margin-bottom:15px;
	}
	
	#footer .left ul  {
		margin-right:0;
		float:right;
		text-align:right;
	}
	
	#footer .left ul:first-child {
		float:left;
		text-align:left;
	}
	
	#footer .left ul li {
		margin-bottom:6px;
	}
	
	#footer .right {
		float:none;
		text-align:center;
	}
	
	.copy {
		padding:8px 15px;
		line-height:16px;
	}
	
	#about .left,
	#about .right,
	#team .tabs-nav,
	#team .tabs-content {
		width:auto;
		margin:0 0 15px;
		float:none;
	}
	
	#team {
		padding:20px 0;
	}
	
	#team .tabs-nav li {
		text-align:center;
		border-bottom:1px dashed #acacac;
		border-top:none;
		padding-top:0;
		padding-bottom:10px;
	}
	
	#team .tabs-nav li:first-child {
		border-bottom:1px dashed #acacac;
		padding-bottom:10px;
	}
	
	#team .tabs-content ul {
		margin:0;
	}
	
	#team .tabs-content ul li {
		width:auto;
		float:none;
		margin:0 0 20px;
	}
	
	#team .tabs-content ul li .tn {
		margin:0 auto 15px;
	}
	
	#how-banner,
	#contact-banner {
		height:240px;
	}
	
	#how-works h2.subtitle {
		margin:20px 0;
	}
	
	#how-works .tabs .wrapper,
	#how-works .tabs .faq .wrapper {
		width:auto;
	}
	
	#how-works .tabs-nav li {
		width:44%;
	}
	
	#how-works .tabs-nav li a {
		text-align:center;
	}
	
	#how-works .steps {
		margin:0
	}
	
	.accordion-title {
		padding:10px 0;
		line-height:18px;
	}
	
	#how-works .steps h3 {
		position:relative;
		min-height:34px;
		padding-left:45px;
	}
	
	#how-works .steps h3 .how-icon {
		position:absolute;
		left:0;
		top:0;
	}
	
	#contact h1 {
		margin-bottom:20px;
	}
	
	.contact-form,
	#contact .address {
		width:auto;
		float:none;
		margin:0 0 20px;
		overflow:hidden;
	}
	
	.contact-form .btn {
		float:none;
		display:block;
		width:100%;
		padding:0;
	}
}
