{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%}Post a job (a project){% endblock %}
{% block content_half -%}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Cancel
        </a>
    </li>
</ul>
{% endblock %}
