{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%}Post a job (a project){% endblock %}
{% block body -%}
<section class="section pattern">
	<div class="wrapper clearfix">
		<div class="project-form">
			{#<h2>Post a new project</h2>#}
			<h3>Post a new project</h3>
			{{ form(form) }}

	        <a href="{{ path('project') }}" class="btn gray-btn floatRight">Cancel</a>
		</div>
		
		<div class="tips">
			<h2>Tips for posting a project</h2>
			<ul>
				<li>Pick a clear and concise title.</li>
				<li>Highlight the main skills and experience required.</li>
				<li>Wait for applications!</li>
			</ul>
		</div>
	</div>
	
</section>
{% endblock %}
