{% extends "TGCAdminBundle::base.html.twig" %}

{% block body %}

    <!--Banner-->
    <section id="contact-banner"></section>
    <!--/Banner Banner-->

    <!--Content -->
    <section class="section form-section">
        <div class="wrapper clearfix">
            <h1>CONTACT</h1>
            <div class="contact-form">
                <form method="post" action="{{ path('tgc_homepage_contact') }}">
                    <h3 class="subtitle">DROP US A LINE</h3>
                    <input name="name" type="text" placeholder="NAME" />
                    <input name="email" type="text" placeholder="EMAIL*" />
                    <textarea name="message" placeholder="MESSAGE"></textarea>
                    <button type="submit" class="btn">SUBMIT</button>
                </form>
            </div>

            <div class="address">
                <h3 class="subtitle">OUR CONTACT DETAILS</h3>
                <p> 207 Regent Street<br />
                    W1B 3HH 3<br />
                    LONDON</p>
                <p>
                    E:<a href="mailto:enquiries@gradconsultancy.com?Subject=Hello TGC" target="_top">
                        enquiries@gradconsultancy.com</a>
                </p>

            </div>
        </div>
    </section>


{% endblock %}