{% extends "TGCAdminBundle::base.html.twig" %}

{% block body %}
    <!--Banner-->

    <section id="how-banner"></section>

    <!--/Banner Banner-->



    <!--Content -->

    <section id="how-works">

    <h2 class="subtitle">HOW IT WORKS</h2>

    <div class="tabs">

    <div class="wrapper">

        <ul class="tabs-nav">

            <li class="active"><a href="#businesses">BUSINESSES</a></li>

            <li><a href="#consultants">CONSULTANTS</a></li>

        </ul>

    </div>


    <div class="tabs-content">

    <div class="tab-content active" id="businesses">

        <div class="wrapper">

            <h3 class="tab-title">BUSINESSES</h3>

            <ul class="steps">

                <li>

                    <h3>

                        <i class="how-icon post"></i>

                        <span>POST A PROJECT</span>

                    </h3>

                    <p>Register and post a project in one of our three sectors of operation completely free of charge,
                        specifying project details and a budget. We would be more than happy to walk you through posting
                        your first project via email, on Skype or over the phone.</p>

                </li>

                <li>

                    <h3>

                        <i class="how-icon apply"></i>

                        <span>CONSULTANTS APPLY</span>

                    </h3>

                    <p>We will immediately notify suitable individuals from our pool of 150+ consultants and invite them
                        to apply for your project. If need be, we will head-hunt additional consultants outside of our
                        pool. All applications will be screened by our Global Accounts team, to ensure only those of
                        highest quality and relevance reach you.</p>

                </li>

                <li>

                    <h3>

                        <i class="how-icon select"></i>

                        <span>SELECT A CONSULTANT AND BEGIN WORK</span>

                    </h3>

                    <p>Within days, you will have a range of applicants to consider from. Simply log on to your TGC
                        account to review applications and browse through consultants’ CV profiles. When you are ready,
                        select a consultant, leave a secure escrow deposit and begin work.</p>

                </li>

                <li>

                    <h3>

                        <i class="how-icon pay"></i>

                        <span>SEND PAYMENT ONCE PROJECT IS COMPLETED</span>

                    </h3>

                    <p>Once the project has been completed and delivered to a satisfactory standard, the escrow payment
                        will be sent to the consultant and TGC will deduct a 10% commission fee. Businesses will not be
                        charged any fees. You can also leave a feedback for your consultant and may wish to work with
                        them again in the near future, be it on a TGC project or through offering an internship or a job
                        opportunity.</p>

                </li>

            </ul>

        </div>

        <!--FAQs-->

        <section class="faq">

            <div class="wrapper">

                <h2 class="subtitle">FAQ’S</h2>

                <div class="accordion">

                    <h2 class="accordion-title"><a href="#">What types of projects do you do?</a></h2>

                    <div class="accordion-content active">

                        <p>We focus on three main sectors: finance & accounting, marketing & strategy and public policy
                            analysis. Projects our consultants could help with include:</p>

                        <ul class="list">

                            <li>Market research</li>

                            <li>Business plan and pitch deck development</li>

                            <li>Financial analysis & modeling</li>

                            <li>Policy research and analysis</li>

                            <li>Contract negotiation</li>

                            <li>Investment portfolio advice</li>

                            <li>Project feasibility analysis</li>

                        </ul>

                        <p>If your project doesn’t fit into one of the sectors or you’re unsure whether we can help you,
                            please get in touch with us via projects@gradconsultancy.com and we will work it out
                            together. </p>

                    </div>


                    <h2 class="accordion-title"><a href="#">How can we be sure of receiving quality work? </a></h2>

                    <div class="accordion-content">

                        <p>Every TGC consultant has been individually vetted and is subject to minimum requirements in
                            educational and professional achievements. Our customer feedback has been 100% positive so
                            far. Furthermore, thanks to our safe escrow system, you won’t have to pay for sub-standard
                            work, as payment is only released if you’re happy with the work done.</p>

                    </div>


                    <h2 class="accordion-title"><a href="#">How does the payment system work?</a></h2>

                    <div class="accordion-content">

                        <p>Once the business has picked a consultant and they have agreed to undertake the project, the
                            business will transfer the full sum to an escrow account. The money will then be held in
                            escrow until the project has been satisfactorily finished, at which point we will transfer
                            the total (minus our fee) to the consultant. </p>

                    </div>


                    <h2 class="accordion-title"><a href="#">Do you provide some guidance for reasonable rates to
                            ask?</a></h2>

                    <div class="accordion-content">

                        <p>As a general rule, we leave the details of the project up to the business. However, if you
                            have questions, feel free to email us at projects@gradconsultancy.com.</p>

                    </div>


                    <h2 class="accordion-title"><a href="#">I’m very satisfied with the work done, so can I now hire my
                            consultant full-time? </a></h2>

                    <div class="accordion-content">

                        <p>Yes, if you and the consultant both agree! However, please keep in mind that our Terms and
                            Conditions include a Finder’s Fee (15% of the new hire’s first year salary, which is lower
                            than the industry average) that will be implemented if a full-time contract between a TGC
                            consultant and a TGC client is signed. </p>

                    </div>

                </div>

            </div>

        </section>

        <!--/FAQs-->

    </div>


    <div class="tab-content" id="consultants">

        <div class="wrapper">

            <h3 class="tab-title">CONSULTANTS</h3>

            <ul class="steps">

                <li>

                    <h3>

                        <i class="how-icon post"></i>

                        <span>APPLY TO BE A CONSULTANT</span>

                    </h3>

                    <p>Fill in a simple one page application eased by LinkedIn profile synchronisation. We are only able
                        to consider applications from graduates as well as Masters and MBA students from selected
                        universities (see FAQ for more info) and require consultants to have at least two months’ worth
                        of professional experience from a leading company.</p>

                </li>

                <li>

                    <h3>

                        <i class="how-icon apply"></i>

                        <span>SEARCH AND APPLY FOR PROJECTS</span>

                    </h3>

                    <p>Log on to TGC’s site and begin searching and applying for projects from companies across the
                        world. We will also notify you personally when a business posts a project relevant to your
                        expertise and interests. There is a set number of projects you can apply for each month.</p>

                </li>

                <li>

                    <h3>

                        <i class="how-icon work"></i>

                        <span>WORK WITH THE BUSINESS</span>

                    </h3>

                    <p>Once a business selects you for a project, they will be required to leave a secure escrow
                        deposit. Work with your client according to pre-agreed, milestones and deadlines, be that
                        remotely or in-person.</p>

                </li>

                <li>

                    <h3>

                        <i class="how-icon prospect"></i>

                        <span>PAYMENT AND PROSPECTS</span>

                    </h3>

                    <p>Once the project has been completed and delivered, payment will be sent to you via PayPal. TGC
                        will deduct a 10% commission fee. We will encourage the business to leave you a feedback and you
                        can do the same for them. This could well be the start to a win-win long term work relationship
                        with the business.</p>

                </li>

            </ul>

        </div>

        <!--FAQs-->

        <section class="faq">

            <div class="wrapper">

                <h2 class="subtitle">FAQ’S</h2>

                <div class="accordion">

                    <h2 class="accordion-title"><a href="#">Who’s eligible to sign up to be a consultant with TGC?</a>
                    </h2>

                    <div class="accordion-content active">

                        <p>Our consultants are required to have at least a bachelor’s degree and to be current or past
                            students from the following universities: Oxford University, Cambridge University, London
                            Business School, London School of Economics, University College London, University of St.
                            Gallen, University of Manheim, Princeton University, Harvard University, Yale University,
                            Dartmouth College, University of Pennsylvania, Brown University, Columbia University and
                            Cornell University. In addition, we also require a minimum of 2 months works experience, in
                            the form of internships, part-time jobs, freelancing etc. We currently accept projects in
                            three main sectors: accounting & finance, marketing & strategy and public policy analysis,
                            so experience and interest in at least one of those fields is essential. </p>

                    </div>


                    <h2 class="accordion-title"><a href="#">What can I expect once I sign up? </a></h2>

                    <div class="accordion-content">

                        <p>Once your application to become a TGC consultant has been vetted and approved, you will be
                            able to create a profile on the TGC platform and receive email alerts if projects matching
                            your sector(s) are posted. At this point, you can choose to apply to projects you are
                            interested in. The details of individual projects vary, but on average, projects range from
                            short-term (1-2 weeks) to medium term (4-8 weeks) and fall under one of our three main
                            sectors (accounting & finance, marketing & strategy and public policy analysis). You will be
                            notified of the outcome of your applications.</p>

                    </div>


                    <h2 class="accordion-title"><a href="#">What commitment is required from consultants?</a></h2>

                    <div class="accordion-content">

                        <p>There is no commitment required from consultants unless the consultant applies to and is
                            awarded a project. Signing up as a consultant simply means you will be notified via email
                            when a business has posted a project suiting your area of interest and you will be invited
                            to apply. Time commitment for individual projects varies and will be agreed in advance.</p>

                    </div>


                    <h2 class="accordion-title"><a href="#">How will I be paid? </a></h2>

                    <div class="accordion-content">

                        <p>When a business selects you as a consultant for a project, they will transfer the deposit for
                            the project into our safe escrow account and you will begin work. Once the project has been
                            successfully completed, TGC will transfer the payment (minus our 10% fee) to your
                            account. </p>

                    </div>

                </div>

            </div>

        </section>

        <!--/FAQs-->

    </div>

    </div>


    </div>

    </section>

{% endblock %}