{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%}Post a job (a project){% endblock %}
{% block body -%}
<section class="section pattern">
	<div class="wrapper clearfix">
		<div class="project-form">
                        {#<h2>Get this Job Done!</h2>#}
			<h3>Submit an application for this project</h3>
			{{ form(form) }}

	        <a href="{{ path('project') }}" class="btn gray-btn floatRight">Cancel</a>
		</div>
		
		<div class="tips">
			<h2>Tips for applying</h2>
			<ul>
				<li>Read the project carefully before submitting an application.</li>
				<li>Highlight how your skills and expertise match this project.</li>
				<li>Place a realistic bid based on the indicative budget provided.</li>
			</ul>
		</div>
	</div>
	
</section>
{% endblock %}
