{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%}Post a job (a project){% endblock %}
{% block body -%}
<section class="section pattern">
	<div class="wrapper clearfix">
		<div class="project-form">
			<h2>Get this Job Done!</h2>
			<h3>Post a proposal for Free</h3>
			{{ form(form) }}

	        <a href="{{ path('project') }}" class="btn gray-btn floatRight">Cancel</a>
		</div>
		
		<div class="tips">
			<h2>Buyer Tips</h2>
			<ul>
				<li>Tip one</li>
				<li>Tip two</li>
				<li>Tip three</li>
			</ul>
		</div>
	</div>
	
</section>
{% endblock %}
