.application-deadline:before {
	display: inline-block;
	width: 16px;
	height: 16px;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	font-family: 'Genericons';
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	font-size: 16px;
	margin: 0 4px 0 0;

	*overflow: auto;
	*zoom: 1;
	*display: inline;

	content: '\f307';
}
.single_job_listing .meta li.application-deadline.expiring {
	color: #f39c12;
}
.application-deadline.expiring:before {
	content: '\f414';
}
.single_job_listing .meta li.application-deadline.expired {
	color: #e74c3c;
}
.application-deadline.expired:before {
	content: '\f414';
}
