{% extends "TGCAdminBundle::fos_user_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Registration complete{% endblock title %}

{% block fos_user_content %}
    <p>&nbsp;</p>
    <p>Thank you for registering. We will review your application, and will get back to you within 24 hours.</p>
    <p> -- The Graduate Consultancy Team</p>
{% endblock fos_user_content %}
