{% extends "TGCAdminBundle::fos_user_layout.html.twig" %}

{% block title %}Register{% endblock title %}

{% block body %}

    <section id="contact" class="section">
        <div class="wrapper clearfix">
            <h1>REGISTER</h1>

            <div class="tgc-form">
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </div>

        </div>


    </section>
{% endblock %}
