{% extends "TGCAdminBundle::base.html.twig" %}

{% block body %}

    <!--Terms-->
    <section id="terms" class="section">
        <div class="wrapper clearfix">
            <div>
                <h3>TERMS AND CONDITIONS</h3>

                <p></p>

                <p><b>SCOPE:</b> These terms and conditions amount to a binding contract between you (‘you’ or ‘your’),
                    as the business client (‘Business Client’) or the consultant (‘Contractor’), and The Graduate
                    Consultancy. By using our site, signing up, and agreeing to do business with us you <b>hereby
                        consent to the terms and conditions without modification</b>. These Terms and Conditions are
                    effective from 1 January, 2014. </p>

                <p><b>PRIVACY STATEMENT:</b> We are committed to protecting your privacy. Authorised employees and
                    consultants within the company are bound by intellectual property and confidentiality clauses on a
                    need to know basis. We constantly review our systems and data to ensure the best possible service to
                    our customers and clients. </p>
            </div>

            <div class="section">
                <ol id="terms">
                    <li><b>TERMS OF USE</b>

                        <p> How the services are offered, what types of services there are.</p></li>
                    <li><b>PURPOSE OF THIS AGREEMENT</b>

                        <p> The Graduate Consultancy accommodates both consultant users (‘Contractors’) and business
                            users (‘Business Clients’) to engage for the request of services or projects (where each
                            will have a further terms and conditions ascribed). The legal arrangement will consist of
                            Business Clients posting jobs or internship opportunities via The Graduate Consultancy’s
                            platform. Contractors are then able to view the listings and, after having registered and
                            completed their profile, apply for positions. Business Clients may then look through the
                            potential applicants and, subject to the agreement of terms facilitated by The Graduate
                            Consultancy, agree to engage with one of the Contractors. To conclude the contract, The
                            Graduate Consultancy will accept payment form the Business Client equating to the total
                            remuneration to be received by the Contractor. Once the Contracted Work between the Business
                            Client and the Contractor is finalised, The Graduate Consultancy will release payment to the
                            Contractor subject to its Fee. </p></li>
                    <li><b>THE GRADUATE CONSULTANCY'S ROLE</b>

                        <p> The Graduate Consultancy will facilitate communication and marketing, the formation of
                            contracts, and the managing of disputes, should this be required. It may also help in the
                            interpretation of the contract between the Business Client and the Contractor, subject to
                            the terms and conditions. </p></li>
                    <li><b>CONCLUSION OF CONTRACT BETWEEN BUSINESS CLIENT AND CONTRACTOR</b>

                        <p> Before engaging the services of the Contractor, the Business Client must agree on the terms
                            of the contract between itself and the Contractor. </p>

                        <p>
                        <ul id="terms">
                            <li>4.1 The Contractor and the Business Client will both be privy to the contract, and agree
                                to its terms.
                            </li>
                            <li>4.2 The contract will be subject to the provisions within these terms and conditions,
                                except where flexibility or delegation is allowed. The Contractor and the Business
                                Client may thus not contract out of rights and obligations imposed under these terms and
                                conditions without the granting of express written consent by The Graduate Consultancy.
                            </li>
                            <li>4.3 The contract must include the specifications for the Contracted Work, as well as
                                clear details regarding the remuneration of the Contractor.
                            </li>
                            <li>4.4 The contract will only be concluded following receipt (by The Graduate Consultancy)
                                of the transfer of Deposit (equating to the total remuneration to be received by the
                                Contractor) to The Graduate Consultancy.
                            </li>
                            <li>4.5 Following its conclusion, both the Business Client and the Contractor are to send a
                                signed and scanned electronic copy of the contract to The Graduate Consultancy within 2
                                working days.
                            </li>
                        </ul>
                        </p>
                    </li>
                    <li><b>HOLDING AND DISBURSEMENT OF FUNDS BY THE GRADUATE CONSULTANCY </b>

                        <p> The funds (‘Deposit’) will be held in an escrow account belonging to The Graduate
                            Consultancy. All payments are to be made via bank transfer. </p>

                        <p>
                        <ul id="terms">
                            <li>5.1 The Deposit will be held in the account from the conclusion of the contract between
                                the Business Client and the Contractor.
                            </li>
                            <li>5.2 The funds from the Deposit will be disbursed to the Contractor following a
                                successful completion of the Contracted Work, subject to the Graduate Consultancy’s Fee,
                                which will be subtracted, and subject to any transaction fees that may be required for
                                the transferring of funds to the Contractor’s account.
                                <ul>
                                    <li>5.2.1 The Graduate Consultancy will thus not be liable for any transaction fees
                                        whilst transferring funds to the Contractor.
                                    </li>
                                    <li>5.2.2 The funds will only be disbursed under this section following the raising
                                        of a request to receive payment by the Contractor, and a confirmation of the
                                        completion of the Contracted Work by the Business Client.
                                    </li>
                                    <li>5.2.3 Section 5.2 will not be applicable if there is a disagreement between the
                                        Contractor, Business Client and/or The Graduate Consultancy as to whether the
                                        Contracted Work has been completed successfully (Section 6), and any
                                        disagreements as to the nature or scope of the Contracted Work (Section 7).
                                    </li>
                                    <li>5.2.4 Section 5.2 is subject to any cancellation clauses within the rights of
                                        The Graduate Consultancy.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </p></li>
                    <li><b>DISPUTE REGARDING THE COMPLETION OF THE CONTRACTED WORK</b>

                        <p>Any disputes pertaining to whether or not the Contractor or the Business Client have honoured
                            their rights and obligations for the Contracted Work will be resolved equitably and in good
                            faith. The terms and conditions provided herein impose a duty of resolving disputes
                            amicably, and are subject to the provisions below. Sections 6.1 and 6.2 deal with a mutual
                            resolution of the dispute between the Contractor and the Business Client, whereas Section
                            6.3 deals with the involvement of The Graduate Consultancy in the dispute settlement
                            system. </p>

                        <p>
                        <ul id="terms">
                            <li>6.1 Any agreed modification which is aimed at increasing the total remuneration of the
                                Contractor is subject to the reasonable approval by The Graduate Consultancy, and the
                                balance is to be transferred from the Business Client to The Graduate Consultancy’s
                                account within 5 working days.
                                <ul id="terms">
                                    <li>6.1.1 The new funds will be added to the Deposit.</li>
                                    <li>6.1.2 In case of an increase in total remuneration, the Fee will be recalculated
                                        as a percentage of the new total of the Deposit.
                                    </li>
                                </ul>
                            </li>
                            <li>6.2 Any agreed modification which is aimed at decreasing the total remuneration of the
                                Contractor is subject to the reasonable approval by The Graduate Consultancy, and the
                                balance will be transferred from The Graduate Consultancy’s account to the Business
                                Client within 5 working days.
                                <ul id="terms">
                                    <li>6.2.1 The funds will be paid out from the Deposit.</li>
                                    <li>6.2.2 In case of a decrease in total remuneration, the Fee will be recalculated
                                        as a percentage of the new total of the Deposit.
                                    </li>
                                </ul>
                            </li>
                            <li>6.3 Failure to reach a mutually convenient solution between the Business Client and the
                                Contractor will result in The Graduate Consultancy’s involvement, at a charge
                                constituting 10% of the Deposit
                                <ul id="terms">
                                    <li>6.3.1 The parties must notify The Graduate Consultancy as soon as possible when
                                        they fail to reach a mutually agreeable solution.
                                    </li>
                                    <li>6.3.2 The Graduate Consultancy will liaise with both parties in an attempt to
                                        reach a mutually agreeable solution, in accordance with its terms and
                                        conditions.
                                    </li>
                                    <li>6.3.3 Failure of s.6.3.2 will give The Graduate Consultancy the right to affect
                                        a binding decision on both parties regarding the dispute, by taking into account
                                        both the interests of the Business Client and the Contractor. Any decision is
                                        final and not subject to appeal.
                                        <ul id="terms">
                                            <li>6.3.3.1 In making its decision, The Graduate Consultancy will take into
                                                account matters such as the extent of work already completed, the time
                                                at which the dispute arose, the relative contributory liability of the
                                                parties in ascertaining that dispute, whether the parties acted in good
                                                faith, whether the parties complied with the terms and conditions, and
                                                any other matter which is brought to its attention which it deems
                                                relevant.
                                            </li>
                                            <li>6.3.3.2 The Graduate Consultancy will consider any and all information
                                                put before it by both parties acting in their own interests, but will
                                                not be bound by any duty to ensure that the information contributes to
                                                the decision-making process.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>6.3.4 Any decision regarding the outcome of the dispute will be communicated by
                                        The Graduate Consultancy to both the Business Client and the Contractor. The 10%
                                        fee for the dispute resolution service will be taken from the Deposit, and the
                                        relevant amounts paid out (under whatever terms the dispute was resolved by) to
                                        the relevant parties.
                                        <ul id="terms">
                                            <li>6.3.4.1 The Graduate Consultancy will not be liable for any transaction
                                                fees involved in paying out to either party under this section, and
                                                these fees will be levied onto the total amount payable.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <b>DISPUTE REGARDING THE NATURE AND SCOPE OF THE CONTRACTED WORK </b>

                        <p>Any dispute regarding the nature, scope, or interpretation of the contract for the Contracted
                            Work between the Business Client and the Contractor will be submitted to The Graduate
                            Consultancy. </p>

                        <p>
                        <ul id="terms">
                            <li>7.1 The Graduate Consultancy will take into account the interests of both parties, and
                                will give weight to the intention of the parties as communicated to The Graduate
                                Consultancy during the negotiation and conclusion of the contract.
                            </li>
                            <li>7.2 The Graduate Consultancy will subsequently make a binding and final decision
                                regarding the interpretation of the contract for the Contracted Work.
                            </li>
                            <li>7.3 The Graduate Consultancy will impose an administrative charge of 10% of the Deposit
                                for this interpretation, and will seek independent counsel at its own cost if it so
                                deems necessary.
                            </li>
                        </ul>
                        </p>
                    </li>
                    <li>
                        <b>CANCELLATION BY THE BUSINESS CLIENT </b>

                        <p>The Business Client is able to reserve the rights to cancel the Contracted Work on the
                            grounds listed in Section 8.1. These are subject to the procedural requirements of this
                            section. </p>

                        <p>
                        <ul id="terms">
                            <li>8.1 Grounds for cancellation by the Business Client:
                                <ul id="terms">
                                    <li>8.1.1 Unsatisfactory quality of work by the Contractor.</li>
                                    <li>8.1.2 Failure to meet agreed deadlines by the Contractor.</li>
                                    <li>8.1.3 Misrepresentation of qualifications or warranties by the Contractor during
                                        the contracting process.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                8.2 If there is a material misrepresentation of qualifications, warranties, or any other
                                conditional requirements of the contract by the Contractor, the Business Client will be
                                able to cancel the contract for the Contracted Work, and get a full refund from The
                                Graduate Consultancy.
                            </li>
                            <li>
                                8.3 If there is a failure to meet agreed deadlines, or unsatisfactory quality of work by
                                the Contractor, the mechanism in Section 6 pertaining to the disputes regarding the
                                Completed Works will be operational.
                            </li>
                        </ul>
                        </p>
                    </li>
                    <li>
                        <b>CANCELLATION BY THE GRADUATE CONSULTANCY </b>

                        <p>The Graduate Consultancy retains the right to cancel its relationship with both the
                            Contractor and the Business Client for any reason either during the Contracted Work, or
                            before it. Upon this decision, The Graduate Consultancy will refund the entirety of the
                            Deposit to the Business Client. </p>

                        <p>
                        <ul id="terms">
                            <li>9.1 If the terms and conditions of The Graduate Consultancy are not being adhered to in
                                good faith, or there is a material breach of implied terms, The Graduate Consultancy
                                will furthermore have the right to retain 15% of the Deposit, and offer the Business
                                Client only the partial refund of 85%.
                            </li>
                            <li>9.2 For either case, The Graduate Consultancy will give written notice to both parties
                                at least 2 business days before executing the transfer and rescinding the agreement.
                            </li>
                        </ul>
                        </p>

                    </li>
                    <li>
                        <b>FAILURE TO PAY OR IMPROPER FRUSTRATION OF CONTRACT BY BUSINESS CLIENT OR CONTRACTOR</b>

                        <p>The following terms would allow the rescission of the agreement by The Graduate Consultancy.
                            It will be entitled to stop any ongoing services with both parties. </p>

                        <p>
                        <ul id="terms">
                            <li>10.1 Failure of the Business Client to pay the full Deposit within the specified time
                                frame following the initiation and conclusion of the contract.
                            </li>
                            <li>10.2 Unreasonable delay in the formulation of the contract between the Business Client
                                and the Contractor.
                            </li>
                            <li>10.3 The creation of a contract which is in conflict with these terms and conditions,
                                and for which the written consent of The Graduate Consultancy has not been requested and
                                given.
                            </li>
                        </ul>
                        </p>
                    </li>
                    <li>
                        <b>RETENTION OF CONSULTANT FOR A PERMANENT POSITION</b>

                        <p>If the Business Client, following the successful or unsuccessful completion of the Contracted
                            Work, determines to keep the Contractor for a paid further period exceeding 6 months, The
                            Graduate Consultancy will be entitled to charge a Finders’ Fee to the Business Client,
                            equivalent to 15% of the Contractor’s first year salary.</p>
                    </li>
                    <li>
                        <b>BINDING NATURE OF THE TERMS AND CONDITIONS</b>

                        <p>In case of any conflict between these terms and conditions and the contract between the
                            Business Client and the Contractor, these terms and conditions will prevail and be binding,
                            subject to any express written consent by The Graduate Consultancy. </p>
                    </li>
                    <li>
                        <b>DEFINITIONS </b>
                        <ul id="terms">
                            <li>a) <b>Business Client</b> – the firm, partnership, or legal entity paying The Graduate
                                Consultancy for its services of posting its vacancy / advertisement, or any further
                                projects.
                            </li>
                            <li>b) <b>Contracted Work</b> – the level and duration of work that is required by the
                                Business Client of the Contractor in their contract.
                            </li>
                            <li>c) <b>Contractor</b> – the individual undertaking to do the internship / permanent work
                                position for the Business Client.
                            </li>
                            <li>d) <b>Deposit</b> – the funds that are to be paid by the Business Client to The Graduate
                                Consultancy, representing the total remuneration agreed between the Contractor and the
                                Business Client.
                            </li>
                            <li>e) <b>Fee</b> - the fee that The Graduate Consultancy collects following the end of the
                                Contracted Work by the Contractor.
                            </li>
                            <li>f) <b>Finders’ Fee</b> – the fee charged by The Graduate Consultancy if the Business
                                Client decides to keep the Contractor, following the Contracted Work period, for a
                                period equal to or exceeding 6 months.
                            </li>
                            <li>g) <b>The Graduate Consultancy</b> – a UK business, (08731133, 207 Regent Street,
                                London, W1B 3HH).
                            </li>
                        </ul>
                    </li>
                </ol>

            </div>

        </div>
    </section>
    <!--/Terms Banner-->

{% endblock %}