{% extends "TGCAdminBundle::fos_user_layout.html.twig" %}

{% block title %}Edit profile{% endblock title %}

{% block body %}
    <section class="section form-section">
        <div class="wrapper clearfix">
            <h1>MY PROFILE</h1>

            <div class="tgc-form">
                {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
            </div>
        </div>
    </section>
{% endblock %}
