{% extends "TGCAdminBundle::base.html.twig" %}

{% block body %}
        <div class="page-header">
        	<h1 class="page-title name">Jessie Hronesova</h1>
        	<h2 class="page-subtitle">
        		<ul>

        			<li class="job-title">PhD candidate and researcher</li>
        			<li class="location"><i class="icon-location"></i> <span class="candidate-location">Oxford, United Kingdom</span></li>
        			<li class="date-posted" itemprop="datePosted"><i class="icon-calendar"></i> <date>Updated 1 month ago</date></li>

        		</ul>
        	</h2>
        </div>

        <div id="content" class="site-content full" role="main">
                    
        {% block content %}{% endblock %}

{% endblock %}

